In [54]:
import pandas as pd
import numpy as np

In [55]:
df=pd.read_csv("/kaggle/input/for-dummy-and-le/minihomeprices.csv")
df

  town  area   price
0    A  2600  550000
1    A  3000  565000
2    B  3200  610000
3    B  3600  595000
4    C  4000  760000
5    C  4100  810000

In [56]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df.town=le.fit_transform(df.town)
df

   town  area   price
0     0  2600  550000
1     0  3000  565000
2     1  3200  610000
3     1  3600  595000
4     2  4000  760000
5     2  4100  810000

In [59]:
X=df.drop('price',axis='columns')
print(X)
ohe=preprocessing.OneHotEncoder()

   town  area
0     0  2600
1     0  3000
2     1  3200
3     1  3600
4     2  4000
5     2  4100

In [62]:
from sklearn import compose
ct=compose.ColumnTransformer(transformers=[('encoder',ohe,[0])],remainder='passthrough')
X=ct.fit_transform(X)
X

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 4.1e+03]])

In [75]:
from sklearn import linear_model
model=linear_model.LinearRegression()

In [76]:
model.fit(X,df.price)
model.predict(X)

array([554469.69696965, 560530.30303028, 599469.69696969, 605530.30303031,
       784242.42424245, 785757.57575761])